<section class="gs-articles">
    {{#unless posts}}
        {{#if author}}
            <div class="gs-articles__zero">
                {{author.name}} hasn't written any posts.
            </div>
        {{else if tag}}
            <div class="gs-articles__zero">
                No posts tagged with {{tag.name}}.
            </div>
        {{else}}
            <div class="gs-articles__zero">
                No posts to show.
            </div>
        {{/if}}
    {{/unless}}

    {{#if posts}}
        <h4 class="gs-articles__title">
            Articles
        </h4>
    {{/if}}

    {{#foreach posts}}
        <article class="gs-articles__item {{post_class}}">
            <a href="{{url}}"><!-- overlaid --></a>
            <span class="gs-articles__item-title">
                {{title}}
            </span>
            <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date format="DD MMM, YYYY"}}
            </time>
        </article>
    {{/foreach}}
</section>

{{#if pagination}}
    {{#if total}}
        {{pagination}}
    {{/if}}
{{/if}}
