{{!< default}}

{{> "nav"}}

{{#author}}

    <header class="gs-author">
        {{!-- <p>{{feature_image}}</p> --}}

        <h1 class="gs-author__name">
            {{name}}
        </h1>

        {{#if location}}
            <div class="gs-author__location">
                {{location}}

                {{#if website}}
                    &bullet;
                    <a href="{{website}}">
                        Website
                    </a>
                {{/if}}
            </div>
        {{/if}}

        {{#if bio}}
            <div class="gs-author__bio">
                {{bio}}
            </div>
        {{/if}}
    </header>

{{/author}}

{{> "loop"}}

{{> "footer"}}
