<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>{{meta_title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i|Titillium+Web:400,400i,700,700i" rel="stylesheet">

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="{{asset "<%= htmlWebpackPlugin.files.css[css] %>" }}" rel="stylesheet">
    <% } %>

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="{{asset "<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" }}"></script>
    <% } %>

    {{ghost_foot}}
</body>
</html>
