{{!< default}}

{{> "nav"}}

{{#post}}

    <main class="gs-post {{post_class}}">
        <header class="gs-post-header">
            <h1 class="gs-post-header__title">
                {{title}}
            </h1>
            {{!--
            <h1 class="gs-post-header__title">
                Passionate Designer Born and raised in Venice who loves minimalism
            </h1>
            --}}

            <div class="gs-post-header__meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">
                    {{date format="DD MMM, YYYY"}}
                </time>
                {{#if tags}}
                    in {{tags}}
                {{/if}}
            </div>
        </header>

        {{#if feature_image}}

            <section class="gs-post-image">
                <img src="{{img_url feature_image}}" alt="{{title}}">
            </section>

        {{/if}}

        <article class="gs-post-content">
            {{content}}
        </article>
    </main>

    {{#next_post}}

        <div class="gs-post-navigation gs-post-navigation__next">
            <a href="{{url}}">
                Next post
            </a>
        </div>

    {{/next_post}}

    {{#prev_post}}

        <div class="gs-post-navigation gs-post-navigation__prev">
            <a href="{{url}}">
                Prev post
            </a>
        </div>

    {{/prev_post}}

    <nav class="gs-pagination gs-post-navigation__pagination">
        <div class="gs-pagination__wrapper">

            {{#next_post}}

                <a class="gs-pagination__next" href="{{url}}">
                    <div class="gs-pagination__label">Next</div>
                </a>

            {{/next_post}}

            <span class="gs-pagination__page-number">
                More posts
            </span>

            {{#prev_post}}

                <a class="gs-pagination__prev" href="{{url}}">
                    <div class="gs-pagination__label">Prev</div>
                </a>

            {{/prev_post}}

        </div>
    </nav>


    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="2" order="published_at desc" as |related_posts|}}
        {{#if related_posts}}

            <section class="gs-related">
                <div class="gs-related__wrapper">
                    <div class="gs-related__title">
                        More posts in
                        <a href="{{@blog.url}}/tag/{{../primary_tag.slug}}/">
                            {{../primary_tag.name}}
                        </a>
                    </div>

                    <ul class="gs-related__posts">

                        {{#foreach related_posts}}

                            <li class="gs-related__post">
                                <div class="gs-related__post-title">
                                    <a href="{{url}}">
                                        {{title}}
                                    </a>
                                </div>

                                <div class="gs-related__post-date">
                                    on {{date format="DD MMMM, YYYY"}}
                                </div>
                            </li>

                        {{/foreach}}

                    </ul>
                </div>
            </section>

        {{/if}}
    {{/get}}

{{/post}}

{{> "footer"}}
